<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.ayqcby.mapper.MenuMapper">


    <select id="loadDataToMenu" parameterType="com.project.ayqcby.domain.User" resultType="com.project.ayqcby.domain.Menu">
        select t.id,t.mc,t.path,t.icon from xt_cdgnb t where t.id in (select qxid from xt_jsqxb where jsdm=#{jsdm})
         and t.pid=#{yhlx} order by t.px
    </select>
</mapper>